<p style="color: green"><%= notice %></p>

<h1>Chat</h1>
<div id="messages">
  <% @messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>
</div>

<%= form_with(model: @message, url: messages_path, remote: true) do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "Send" %>
<% end %>
