<h1>New Message</h1>

<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <!-- Other message fields -->

  <!-- Option to select an existing chat or create a new one -->
  <%= f.collection_select(:chat_id, Chat.all, :id, :id, prompt: "Select or create a chat") %>

  <!-- If you want to allow users to create a new chat -->
  <!-- <%= link_to "Create new chat", new_chat_path %> -->

  <%= f.button :submit, "Send Message" %>
<% end %>

<%= link_to "Back", messages_path %>
