<div id="<%= dom_id booking %>">
  <p>
    <strong>Residence:</strong>
    <%= booking.residence_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= booking.total_price %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
