<%= link_to path, class: "link" do %>
  <div class="image-card" data-target="category.residence" data-category="<%= residence.category %>">
    <div class="image-container">
      <%= image_tag residence.image, alt: "Residence Image", class: "rounded-image" %>
    </div>
    <div class="details">
      <span><strong><%= residence.title %></strong></span><br>
      <span>Anfitriã(o): <%= residence.user.first_name %></span><br>
      <span><strong><%= number_to_currency(residence.price_per_night) %></strong> por hóspede</span>
    </div>
  </div>
<% end %>
