<div id="<%= dom_id rating %>">
  <p>
    <strong>Booking:</strong>
    <%= rating.booking_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= rating.comment %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= rating.value %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

</div>
