<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://download.logo.wine/logo/Airbnb/Airbnb-Logo.wine.png" alt="Logo" width="120">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acomodações</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastrar-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Entrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="search-bar">
      <form>
        <div class="location-input">
          <label>Onde</label>
          <input type="text" placeholder="Buscar destinos">
        </div>
        <div>
          <label>Check in</label>
          <input type="date" placeholder="insira datas">
        </div>
        <div>
          <label>Check out</label>
          <input type="date" placeholder="insira datas">
        </div>
        <div>
          <label>Quem</label>
          <input type="text" placeholder="Hóspedes?">
        </div>
        <button type="submit"><%= image_tag "search-btn.png"%></button>
      </form>
    </div>

<% @residences.each do |residence| %>
  <%= link_to residence_path(residence), class: "link" do %>
    <div class="image-card">
      <div class="image-container">
        <%# <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button> %>
        <%= image_tag residence.image, alt: "Residence Image", class: "rounded-image" %>
        <%# <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button> %>
      </div>
      <div class="details">
        <span><strong><%= residence.title %></strong></span><br>
        <span>Anfitriã(o): <%= residence.user.first_name %></span><br>
        <span><strong><%= number_to_currency(residence.price_per_night) %></strong> por hóspede</span>
      </div>
    </div>
  <% end %>
<% end %>

