<div id="<%= dom_id residence %>">
  <p>
    <strong>User:</strong>
    <%= residence.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= residence.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= residence.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= residence.image %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= residence.address %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= residence.price_per_night %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= residence.category %>
  </p>

</div>
