<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-white">
  <%= yield %>
</body>
</html>
