<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="container">
      <%= render partial: 'shared/residence_card', locals: { residence: Residence.first } %>
      <%= render partial: 'shared/booking_card', locals: { booking: Booking.first } %>
      <%= render partial: 'shared/category_button', locals: { icon: "fa-solid fa-person-rifle", category: "rifle"} %>
      <%= render partial: 'shared/category_button', locals: { icon: "fa-solid fa-person-rifle", category: "rifle"} %>
    </div>

    <%= yield %>
  </body>
</html>
